body {background-image: url(https://www.rfbr.ru/rffi/image?objectId=2078851);font-family:cursive;}

img {width: 533px;}

h2 {color: #00b1ff}

p {color: white}

a {color: yellow;text-decoration: none;font-size: 50px}
